section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
	background: #bbbbbb;
	border: 3px solid #cccccc;
}
section p {
	min-width: 30vw;
}

.header_text {
	text-align: center;
	font-weight: bold;
	font-size: 3em;
}

.subtext {
	min-height: 20vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3vw;
	background: #dddddd;
}
